<!DOCTYPE html>
<html>
<%- include('../partials/adminhead'); %>

<body class="hold-transition sidebar-mini layout-fixed">
    <%- include('../layouts/adminheader') %>


    <%- include('../layouts/adminSidenav') %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Add a new coupon</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin/dashboard/coupons">Coupons</a></li>
                            <li class="breadcrumb-item active">Add a new coupon</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <div class="btn btn-primary btn-lg btn-sm float-sm-right">
                            <a href="/admin/dashboard/coupons" style="color: white;">
                                <i class="fas fa-angle-left fa-lg mr-2"></i>Back to all couponss
                            </a>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Fill form details to add a new product</h3>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/admin/dashboard/add-coupon">
    
                                <div class="form-group">
                                    <label for="">Coupon Title</label>
                                    <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title" min="5" max="15" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Discount %</label>
                                    <input type="number" class="form-control" name="discount" value="<%= discount %>" placeholder="Discount" required>
                                </div>
                                <div class="form-group">
                                    <label>Coupon Date and time range</label>
                                    <div class="input-group">
                                      <input type="text" name="expirationTime" class="form-control float-right" id="reservationtime">
                                    </div>
                                    <!-- /.input group -->
                                  </div>
                                  <div class="form-group">
                                    <label for="">Discount Status</label>
                                    <select name="status" class="form-control">
                                            <option value="active">Active</option>
                                            <option value="inactive">Inactive</option>
                                    </select>
                                </div>
                                
                                <button class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('../layouts/adminfooter') %>
</body>
<script>
    
     //Date range picker with time picker
     $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    
</script>

</html>