<!DOCTYPE html>
<html>
<%- include('../partials/adminhead'); %>

<body class="hold-transition sidebar-mini layout-fixed">
    <%- include('../layouts/adminheader') %>


    <%- include('../layouts/adminSidenav') %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Order List</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Order List</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <% if (orders) { %>
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr class="text-center">
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Reference</th>
                                            <th>Paid</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% orders.forEach(function(order){ %>
                                        <tr class="text-center">
                                            <td>#</td>
                                            <td><%= order.name %></td>
                                            <td><%= order.payment.reference %></td>
                                            <td><%= order.isPaid %></td>
                                            <td><%= order.shipping.address %></td>
                                            <td class="project-actions text-center">
                                                <a class="btn btn-info btn-sm"
                                                    href="/admin/dashboard/order/<%= order._id %>">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    View order
                                                </a>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                    <tfoot>
                                        <tr class="text-center">
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Reference</th>
                                            <th>Paid</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <% } else {%>
                                <h3 class="text-center">There are no orders to display.</h3>
                                <h5 class="text-center"><i>If this an error, refresh page!</i></h5>
                                <% }%>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('../layouts/adminfooter') %>
</body>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "csv", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });

    $('a.confirmDeletion').on('click', function () {
        if (!confirm('Are you sure you want to delete product?'))
            return false;
    });
</script>

</html>