<!DOCTYPE html>
<html>
<%- include('../partials/adminhead'); %>

<body class="main-layout">
    <%- include('../layouts/adminheader') %>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Add a categoryProducts</h4>
                        <div class="breadcrumb__links">
                            <a href="/admin/products/add-product" >Add a new product</a>
                            <span>Add a product</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <br>
    <br>

    <section>
        <div class="container">
            <h2 class="page-title">List of Products</h2>
            <a href="/admin/products/add-product" class="btn btn-primary">Add a new product</a>
            <br><br>
            <div class="row">
                <div class="col-sm-12">
                    <% if (count > 0) { %>

                        <table class="table table-striped alignmiddle">
            
                            <thead>
                                <tr class="home">
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>Product Image</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach(function(product){ %>
                                <tr>
                                    <td><%= product.title %></td>
                                    <td>₵<%= parseFloat(product.price).toFixed(2) %></td>
                                    <td><%= product.category %></td>
                                    <td>
                                        <% if (product.image == "") { %>
                                        <img id="noimage" src="/img/noimage.png">
                                        <% } else {%>
                                        <img id="noimage" src="/product_images/<%= product._id %>/<%= product.image %>">
                                        <% }%>
                                    </td>
                                    <td><a href="/admin/products/edit-product/<%= product._id %>">Edit</a></td>
                                    <td><a class="confirmDeletion" href="/admin/products/delete-product/<%= product._id %>" > Delete</a></td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
            
                        <% } else {%>
                        <h3 class="text-center">There are no products.</h3>
                        <% }%>
                </div>
            </div>

            
        </div>
    </section>
    <br>
    <br>

    <%- include('../layouts/adminfooter') %>

</body>

</html>