<!DOCTYPE html>
<html>
<%- include('partials/head'); %>

<body class="main-layout">
    <%- include('layouts/header'); %>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Checkout</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/products">Shop</a>
                            <a href="/cart/my_cart">My Cart</a>
                            <span>Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form method="POST" action="/cart/coupon">
                        <input name="coupon" type="text" placeholder="Coupon code" value="<%= coupon.title %>">
                        <button type="submit">Apply</button>
                    </form>
                </div>
                <form id="paymentForm" method="POST" action="/cart/checkout">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <% if (coupon.discount === null){ %> 
                                <h6 class="coupon__code"><span class="icon_tag_alt"></span> You will receive 0% off your purchase when you place your order!</h6>
                            <%} else{%>
                                <h6 class="coupon__code"><span class="icon_tag_alt"></span> You will receive <%=coupon.discount %>% off your purchase when you place your order!</h6>
                            <%}%>
                            <h6 class="checkout__title">Billing Details</h6>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>First Name<span>*</span></p>
                                        <input name="firstname" type="text" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input name="lastname" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Country<span>*</span></p>
                                <input name="country" type="text" required>
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input name="address" type="text" placeholder="Street Address" class="checkout__input__add" required>
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input name="city" type="text" required>
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                <input name="postcode" type="text" required>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input name="phone" type="text" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input name="email" type="text" id="email-address" required>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="checkout__input">
                                <p>Order notes/ Reference<span>*</span></p>
                                <input name="ref" type="text"
                                placeholder="Notes about your order, e.g. special notes for delivery." required>
                            </div>
                        </div>
                        <% if (typeof cart !== "undefined") { %>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <% let total = 0 %>
                                <% let sub_total = 0 %>
                                <% let delivery = 5.00 %>
                                <% let discount = 0 %>
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product (Qty)<span>Total</span></div>
                                <ol class="checkout__total__products">
                                    <% cart.forEach(function(product,index){ %> 
                                        <% let ind_pdt_total = 0 %>

                                        <% let index_increase = index + 1 %>
                                        <% let multiply = parseFloat(product.qty * product.price).toFixed(2) %>
                                        <% ind_pdt_total += +multiply %>

                                        <% sub_total += +ind_pdt_total %>
                                        <li><%= index_increase %>. <%= product.title %> (<%=product.qty %>)<span>₵ <%= ind_pdt_total %></span></li> 
                                    <%})%>
                                </ol>
                                <ul class="checkout__total__all">
                                    <li>Subtotal <span>₵<%= parseFloat(sub_total).toFixed(2) %></span></li>
                                    <li>Delivery Fee <span>₵ 5.00</span></li>
                                    <li>Discount <span><%= coupon.discount %></span></li>

                                    <% let someTotal = parseFloat(sub_total + delivery).toFixed(2) %>

                                    <% total = parseFloat(someTotal - coupon.discount).toFixed(2) %>
                                    <li id="amount" >Total <span>₵<%= parseFloat(total).toFixed(2) %></span></li>
                                </ul>
                            
                                <div class="checkout__input">
                                    <input name="discount" type="text" value="<%= coupon.discount %>" hidden>
                                    <input name="total" type="text" value="<%= total %>" placeholder="Total" required>
                                </div>
                                <button type="submit" class="site-btn" >PLACE ORDER</button>

                            </div>
                        </div>
                        <% }else{ %> 
                            <div class="col-lg-4 col-md-6">
                                <div class="checkout__order">
                                    <h5> Add items to your cart to checkout</h5>
                                </div>
                            </div>
                        <%} %>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <%- include('layouts/footer'); %>
</body>

</html>