<!DOCTYPE html>
<html>
<%- include('partials/head'); %>

<body class="main-layout">
    <%- include('layouts/header'); %>
    
    <!-- Hero Section Begin -->
    <section class="hero" >
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="img/hero/hero-1.png">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Latest Collection</h6>
                                <h2>Men Wear Collections</h2>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
                                </p>
                                <a href="/products" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/hero/hero-2.png">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Latest Collection</h6>
                                <h2>Hottest Collections</h2>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
                                </p>
                                <a href="/products" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <br>
    <br>
    <br>
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li data-filter=".new-arrivals">New Arrivals</li>
                    </ul>
                </div>
            </div>
           
            <div class="row product__filter">
                <% products.forEach(function(p,index){ %>
                    <% if (index <= 11){ %>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/product_images/<%= p.id %>/<%= p.image %>">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                        <li><a class="vd" href="/products/<%= p.category %>/<%= p.slug %>"><img src="img/icon/compare.png" alt=""> <span>View Details</span></a>
                                        </li>
                                        <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text ">
                                    <h6><%= p.title.toUpperCase() %></h6>
                                    <a href="/cart/add/<%= p.slug %>" class="add-cart">+ Add To Cart</a>
                                    <div class="rating" >
                                        <% if (p.rating == 1 && p.rating < 1.5){ %>
                                        <i class="fa fa-star" ></i>
                                        <% }else if (p.rating == 1.5 && p.rating < 2) {%>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <% }else if (p.rating == 2 && p.rating < 2.5){ %>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <% } else if (p.rating == 2.5 && p.rating < 3) { %>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <% }else if (p.rating == 3 && p.rating < 3.5){ %>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <% }else if (p.rating == 3.5 && p.rating < 4){ %>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <% }else if (p.rating == 4 && p.rating < 4.5){ %>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <% }else if (p.rating == 4.5 && p.rating < 5){ %>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <% }else if (p.rating == 5){ %>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <% }else{ %> 
                                            <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <% } %>
                                        <span> - <%=p.numReviews %> Review(s)</span>
                                    </div>
                                    <h5>₵<%= parseFloat(p.price).toFixed(2) %></h5>
                                </div>
                                <div class="product__item">
                                    <a class="vd primary-btn" href="/products/<%= p.category %>/<%= p.slug %>">View Details</a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    
                <% }); %>
            
            </div>
            <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <% if (pagesNeeded > 0){ %>
                                    <% if(pageNumber == 1){ %> 
                                        <a class="disabled first" href="?page=<%= pageNumber; %>"> First </a>
                                    <%}else{ %> 
                                        <a class="last" href="?page=<%= pageNumber; %>"> First </a>
                                    <%} %>
                                    <% let i = (Number(pageNumber) > 5 ? Number(pageNumber) - 4 : 1) %>
                                    <% if (i !==1){ %>
                                        <a href="#">...</a>
                                    <%}%>
                                    <% for (; i <= (Number(pageNumber) + 4) && i <= pagesNeeded; i++){ %> 
                                        <% if (i == pageNumber){ %> 
                                            <a class="active" href="?page=<%= i; %>"> <%= i %></a>
                                        <%}else {%> 
                                            <a href="?page=<%= i; %>"> <%= i %></a>
                                        <%}%>
                                        <% if( i == Number(pageNumber) + 4 & i < pages){ %> 
                                            <a class="disabled" href="#">...</a>   
                                        <%} %>
                                    <%}%>
                                    <% if (pageNumber == pagesNeeded){ %> 
                                        <a class="disabled last" href="?page=<%= pagesNeeded; %>"> Last</a>
                                        <%} else{ %>
                                            <a class="last" href="?page=<%= pagesNeeded; %>"> Last</a>
                                            <% }%>
                                <%} %>
                            </div>
                        </div>
                    </div>
            <div class="all_products">
                <a class="site-btn" href="/products">All Products</a>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
    
    <%- include('layouts/footer'); %>
</body>

</html>
